<html>
    <head>
        <title>Agregar Producto</title>
        <%- include('include/head'); %>
    </head>
    
    <body>
        <div class="container">
            <%- include('include/form'); %>

            <hr>

            <%- include('include/productos'); %>
            
            <hr>

            <%- include('include/mensajeria'); %>
            
        </div>

        <%- include('include/footer'); %>
    </body>
</html>

